extends layout

block content
  h1 #{title}: #{copy._id}
  p #[strong Book:] #{copy.book.title}
  p #[strong Imprint:] #{copy.imprint}
  p #[strong Status:] 
    if copy.status=='Available'
      span.text-success #{copy.status}
    else if copy.status=='Maintenance'
      span.text-danger #{copy.status}
    else
      span.text-warning #{copy.status}       
  if copy.status!='Available'
    p #[strong Due back:] #{copy.due_back_formatted}
  
  p Do you really want to delete this Copy?
  form(method='POST' action='')
    div.form-group
    input#copyid.form-control(type='hidden',name='copyid', required='true', value=copy._id )

    button.btn.btn-primary(type='submit') Delete